@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;

}
  .apteka{
    color: red;
    font-family: "IBM Plex Mono", monospace;
    margin-top: 5px;
    margin-left: 40px;
    
  }
  .header{
    height: 50px;
    width: 1920px;
    display: inline;
    justify-content: flex-start;
  }
  .adres{
    margin-left: 950px;
    height: 50px;
    width: 404px;
    float: left;
    justify-content: center;
    margin-top: -50px;


  }
  .number{
    height: 50px;
    width: 259;
    float: left;
    margin-left: -100px;
    margin-top: -50px;
    
    
  }
  
  .background{
    background-image: url(/img/background.png);
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
   
  }
  .txt{
    height: 300px;
    width: 400px;
    position: absolute;
    top: 250px;
    padding: 10px;
    left: 0;
    text-align: left;
    margin-left: 200px;
    margin-top:50px;
  }
  .zagolovok2{
    font-weight: 300;

  }
  .text1{
    font-weight: 500;
    
  }
  .knopka1{
        background: #E31E24;
        display: inline-block;
        color: white;
        font-weight: 100;
        text-decoration: none;
        user-select: none;
        padding: .5em 2em;
        outline: none;
        border: 0px solid;
        border-radius: 1px;
        transition: 0.2s;
        height: 40px;
        margin-top: 20px;
      } 
      .knopka1:hover { background: #ef5459; }
      .knopka1:active { background: #E31E24 }

      .knopka2{
        background: none;
        display: inline-block;
        color: white;
        font-weight: 100;
        text-decoration: none;
        user-select: none;
        padding: .5em 2em;
        outline: none;
        border: 1px solid;
        border-radius: 1px;
        transition: 0.2s;
        height: 40px;
        margin-top: 20px;
        width: 150px;
        margin-left: 20px;
      } 
      .knopka2:hover { background: #ffffff17; }
      .knopka2:active { background: rgba(134, 132, 132, 0.56); }

      .texta2{
        height: 50px;
        width: 1920px;
        margin-left: 950px;
        margin-top: -40px;
        font-weight: 300;
        color: black;
      }

      
      .name2{
        margin-left: 30px;
        text-decoration: none;
        color: #777777;
      }
      .name3{
        margin-left: 30px;
        text-decoration: none;
        color: #777777;
      }
      .name4{
        margin-left: 100px;
        text-decoration: none;
        color: #999999;
      }
      .name1{
        text-decoration: none;
        color: #777777;
      }
      .name1:active {
         color: black;
         text-decoration: underline;
         text-decoration-color: #E31E24;
     }
      .name2:active {
         color: black;
         text-decoration: underline;
         text-decoration-color: #E31E24;
        }

      .name3:active { 
        color: black;
        text-decoration: underline;
        text-decoration-color: #E31E24;
        }
      .name4:active {
         color: black;
         text-decoration: underline;
         text-decoration-color: #E31E24;
        }
       .block2{
        width: 310px;
        height: 430px;
        background: #fff;
        border: 1px solid;
        border-color: #999999;
        margin-left: 150px;
      }

      .hit1{
        background-color: #2992D9;
        color: white;
        height: 30px;
        width: 55px;
        text-align: center;
        border-radius: 7%;
        margin-left: 20px;
        position: absolute;
        z-index: 1;
        margin-top: 30px;
        
      }
      .sovet1{
        background-color: #893CA9;
        color: white;
        height: 30px;
        width: 90px;
        text-align: center;
        border-radius: 7%;
        margin-left: 80px;
        margin-top: 30px;
        position: absolute;
        z-index: 1;
        
      }
      .img1{
        margin-top: 50px;
        position: relative;
        margin-left: 60px;
      }
      .text2{
        margin-left: 10px;
        font-weight: 600;
      }
      .text3{
        margin-left: 10px;
        color: #5FA800;
        border-bottom: 1px dashed #5FA800;
        width: 120px;
      }
      .text4{
        margin-left: 140px;
        margin-top: -20px;
        color: #999999;
      }
      .text5{
        margin-top: 30px;
        margin-left: 30px;
      }
      .zagolovok3{
        margin-left: 150px;
      }
      .tovar{
        background-color: #F9F9FA;
        margin-top: -17px;
        height: 1000px;
      }
      .block3{
        width: 310px;
        height: 430px;
        background: #fff;
        border: 1px solid;
        border-color: #999999;
        margin-left: 461px;
        margin-top: -432px;
      }

      .hit2{
        background-color: #2992D9;
        color: white;
        height: 30px;
        width: 55px;
        text-align: center;
        border-radius: 7%;
        margin-left: 20px;
        position: absolute;
        z-index: 1;
        margin-top: 30px;
        
      }
      .sovet2{
        background-color: #893CA9;
        color: white;
        height: 30px;
        width: 90px;
        text-align: center;
        border-radius: 7%;
        margin-left: 80px;
        margin-top: 30px;
        position: absolute;
        z-index: 1;
        
      }
      .img2{
        margin-top: 50px;
        position: relative;
        margin-left: 70px;
      }
      .text6{
        margin-left: 10px;
        font-weight: 600;
      }
      .text7{
        margin-left: 10px;
        color: #5FA800;
        border-bottom: 1px dashed #5FA800;
        width: 70px;
      }
      .text8{
        margin-left: 100px;
        margin-top: -20px;
        color: #999999;
      }
      .text9{
        margin-top: 47px;
        margin-left: 30px;
      }
      .akciya{
        margin-top: 67px;
        background-color: #FFD83A;
        color: black;
        height: 30px;
        width: 80px;
        text-align: center;
        border-radius: 7%;
        margin-left: 20px;
        position: absolute;
        z-index: 1;
      }
      .block4{
        width: 310px;
        height: 430px;
        background: #fff;
        border: 1px solid;
        border-color: #999999;
        margin-left: 772px;
        margin-top: -432px;
      }

      .hit3{
        background-color: #2992D9;
        color: white;
        height: 30px;
        width: 55px;
        text-align: center;
        border-radius: 7%;
        margin-left: 20px;
        position: absolute;
        z-index: 1;
        margin-top: 30px;
        
      }
      .sovet3{
        background-color: #893CA9;
        color: white;
        height: 30px;
        width: 90px;
        text-align: center;
        border-radius: 7%;
        margin-left: 80px;
        margin-top: 30px;
        position: absolute;
        z-index: 1;
        
      }
      .img3{
        margin-top: 50px;
        position: relative;
        margin-left: 110px;
      }
      .tekst1{
        margin-left: 10px;
        font-weight: 600;
      }
      .tekst2{
        margin-left: 10px;
        color: #5FA800;
        border-bottom: 1px dashed #5FA800;
        width: 80px;
      }
      .tekst3{
        margin-left: 110px;
        margin-top: -20px;
        color: #999999;
      }
      .tekst4{
        margin-top: 30px;
        margin-left: 30px;
      }
      .block5{
        width: 310px;
        height: 430px;
        background: #fff;
        border: 1px solid;
        border-color: #999999;
        margin-left: 1083px;
        margin-top: -432px;
      }

      .hit4{
        background-color: #2992D9;
        color: white;
        height: 30px;
        width: 55px;
        text-align: center;
        border-radius: 7%;
        margin-left: 20px;
        position: absolute;
        z-index: 1;
        margin-top: 30px;
        
      }
      .sovet4{
        background-color: #893CA9;
        color: white;
        height: 30px;
        width: 90px;
        text-align: center;
        border-radius: 7%;
        margin-left: 80px;
        margin-top: 30px;
        position: absolute;
        z-index: 1;
        
      }
      .img4{
        margin-top: 50px;
        position: relative;
        margin-left: 70px;
      }
      .tekst5{
        margin-left: 10px;
        font-weight: 600;
      }
      .tekst6{
        margin-left: 10px;
        color: #5FA800;
        border-bottom: 1px dashed #5FA800;
        width: 70px;
      }
      .tekst7{
        margin-left: 90px;
        margin-top: -20px;
        color: #999999;
      }
      .tekst8{
        margin-top: 47px;
        margin-left: 30px;
      }
      .akciya2{
        margin-top: 67px;
        background-color: #FFD83A;
        color: black;
        height: 30px;
        width: 80px;
        text-align: center;
        border-radius: 7%;
        margin-left: 20px;
        position: absolute;
        z-index: 1;
      }

      .block6{
        width: 310px;
        height: 430px;
        background: #fff;
        border: 1px solid;
        border-color: #999999;
        margin-left: 150px;
        margin-top: -1px;
      }

      .hit5{
        background-color: #2992D9;
        color: white;
        height: 30px;
        width: 55px;
        text-align: center;
        border-radius: 7%;
        margin-left: 20px;
        position: absolute;
        z-index: 1;
        margin-top: 30px;
        
      }
      .sovet5{
        background-color: #893CA9;
        color: white;
        height: 30px;
        width: 90px;
        text-align: center;
        border-radius: 7%;
        margin-left: 80px;
        margin-top: 30px;
        position: absolute;
        z-index: 1;
        
      }
      .img5{
        margin-top: 50px;
        position: relative;
        margin-left: 70px;
      }
      .tekst9{
        margin-left: 10px;
        font-weight: 600;
      }
      .tekst10{
        margin-left: 10px;
        color: #5FA800;
        border-bottom: 1px dashed #5FA800;
        width: 80px;

      }
      .tekst11{
        margin-left: 110px;
        margin-top: -20px;
        color: #999999;
      }
      .tekst12{
        margin-top: 30px;
        margin-left: 30px;
      }
      .block7{
        width: 310px;
        height: 430px;
        background: #fff;
        border: 1px solid;
        border-color: #999999;
        
        margin-left: 461px;
        margin-top: -432px;
      }

      .hit6{
        background-color: #2992D9;
        color: white;
        height: 30px;
        width: 55px;
        text-align: center;
        border-radius: 7%;
        margin-left: 20px;
        position: absolute;
        z-index: 1;
        margin-top: 30px;
        
      }
      .sovet6{
        background-color: #893CA9;
        color: white;
        height: 30px;
        width: 90px;
        text-align: center;
        border-radius: 7%;
        margin-left: 80px;
        margin-top: 30px;
        position: absolute;
        z-index: 1;
        
      }
      .img6{
        margin-top: 50px;
        position: relative;
        margin-left: 70px;
      }
      .tekst13{
        margin-left: 20px;
        font-weight: 600;
      }
      .tekst14{
        margin-left: 10px;
        color: #5FA800;
        border-bottom: 1px dashed #5FA800;
        width: 120px;
        margin-top:-10px;
      }
      .tekst15{
        margin-left: 140px;
        margin-top: -20px;
        color: #999999;
      }
      .tekst16{
        margin-top: 40px;
        margin-left: 30px;
        
      }
      .block8{
        width: 310px;
        height: 430px;
        background: #fff;
        border: 1px solid;
        border-color: #999999;
        
        margin-left: 772px;
        margin-top: -432px;
      }

      .hit7{
        background-color: #2992D9;
        color: white;
        height: 30px;
        width: 55px;
        text-align: center;
        border-radius: 7%;
        margin-left: 20px;
        position: absolute;
        z-index: 1;
        margin-top: 30px;
        
      }
      .sovet7{
        background-color: #893CA9;
        color: white;
        height: 30px;
        width: 90px;
        text-align: center;
        border-radius: 7%;
        margin-left: 80px;
        margin-top: 30px;
        position: absolute;
        z-index: 1;
        
      }
      .img7{
        margin-top: 50px;
        position: relative;
        margin-left: 70px;
      }
      .tekst17{
        margin-left: 20px;
        font-weight: 600;
      }
      .tekst18{
        margin-left: 10px;
        color: #5FA800;
        border-bottom: 1px dashed #5FA800;
        width: 120px;
        margin-top:-10px;
      }
      .tekst19{
        margin-left: 140px;
        margin-top: -20px;
        color: #999999;
      }
      .tekst20{
        margin-top: 40px;
        margin-left: 30px;
        
      }
      .block9{
        width: 310px;
        height: 430px;
        background: #fff;
        border: 1px solid;
        border-color: #999999;
        
        margin-left: 1083px;
        margin-top: -432px;
      }

      .hit8{
        background-color: #2992D9;
        color: white;
        height: 30px;
        width: 55px;
        text-align: center;
        border-radius: 7%;
        margin-left: 20px;
        position: absolute;
        z-index: 1;
        margin-top: 30px;
        
      }
      .sovet8{
        background-color: #893CA9;
        color: white;
        height: 30px;
        width: 90px;
        text-align: center;
        border-radius: 7%;
        margin-left: 80px;
        margin-top: 30px;
        position: absolute;
        z-index: 1;
        
      }
      .img8{
        margin-top: 50px;
        position: relative;
        margin-left: 70px;
      }
      .tekst21{
        margin-left: 20px;
        font-weight: 600;
      }
      .tekst22{
        margin-left: 10px;
        color: #5FA800;
        border-bottom: 1px dashed #5FA800;
        width: 120px;
        margin-top:-10px;
      }
      .tekst23{
        margin-left: 140px;
        margin-top: -20px;
        color: #999999;
      }
      .tekst24{
        margin-top: 50px;
        margin-left: 30px;
        
      }
      .block10{
        height: 600px;
        width: 100%;
      }
      .textt{
        margin-left: 300px;
        font-size: 30pt;
      }
      .star{
        margin-left: 800px;
        margin-top: 100px;
        display: inline;
        position: absolute;
        z-index: 1;
      }
      .star2{
        margin-left: 820px;
        margin-top: 100px;
        position: absolute;
        z-index: 1;
      }
      .star3{
        margin-left: 840px;
        margin-top: 100px;
        position: absolute;
        z-index: 1;
      }
      .star4{
        margin-left: 860px;
        margin-top: 100px;
        position: absolute;
        z-index: 1;
      }
      .star5{
        margin-left: 880px;
        margin-top: 100px;
        position: absolute;
        z-index: 1;
      }

      .img10{
        margin-left: 450px;
        margin-top: 70px;
      }
      .textt2{
        height: 200px;
        width: 400px;
        margin-left: 800px;
        margin-top: -300px;
      }
      .textt3{
        color: #E31E24;
        font-weight: 300; 
        margin-left: 800px;
        margin-top: -120px;

     }
     .textt4{
        color: #999999;
        margin-left: 960px;
        margin-top: -20px;
     }
     .textt5{
        margin-left: 800px;
     }
     .knopka3{
        background: #E31E24;
        display: inline-block;
        color: white;
        font-weight: 100;
        text-decoration: none;
        user-select: none;
        padding: .5em 2em;
        outline: none;
        border: 0px solid;
        border-radius: 1px;
        transition: 0.2s;
        height: 40px;
        margin-left: 800px;
      } 
      .knopka3:hover { background: #ef5459; }
      .knopka3:active { background: #E31E24 }
      .block11{
        margin-top: 50px;
        background-color: #F9F9FA;
      }
      .textt7{
        margin-left: 1100px;
        margin-top: 50px;
        position: absolute;
        color: #999999;
        font-weight: 400;
      }
      .img11{
        margin-top: 140px;
        margin-left: 30px;
        height: 200px;
        position: relative;
        z-index: 1;
      }
      .img12{
        margin-left: 30px;
        margin-top: 140px;
        position: relative;
      }
      .img13{
        margin-left: 30px;
        margin-top: 140px;
        position: absolute;
        z-index: 1;
      }
      .img14{
        margin-left: 380px;
        margin-top: 140px ;
        position: absolute;
        z-index: 1;
      }
      .p1{
        background-color: #fff;
        width: 100px ;
        text-align: center;
        font-weight: 600;
        margin-left: 50px;
        z-index: 1;
        position: absolute;
        margin-top: -189px;
        
      }
      .p2{
        background-color: #fff;
        width: 100px ;
        text-align: center;
        font-weight: 600;
        margin-left: 380px;
        z-index: 1;
        position: absolute;
        margin-top: -197px;
        
      }
      .p3{
        background-color: #fff;
        width: 100px ;
        text-align: center;
        font-weight: 600;
        margin-left: 730px;
        margin-top: -195px;
        z-index: 1;
        position: absolute;
      }
      .p4{
        background-color: #fff;
        width: 100px ;
        text-align: center;
        font-weight: 600;
        margin-left: 1080px;
        margin-top: -200px;
        z-index: 1;
        position: absolute;
      }
      .textt6{
        margin-top: 50px;
        position: absolute;

      }
      .block11{
        height: 550px;
      }
      .svg1{
        margin-top: 355px;
        position: absolute;
        margin-left: -650px;
      }
      .data1{
        color: #999999;
        margin-left: 53px;
        margin-top: 2px;
        position: absolute;
      }
      .svg2{
        margin-top: 355px;
        position: absolute;
        margin-left: -315px;
      }
      .data2{
        color: #999999;
        margin-left: 390px;
        margin-top: 2px;
        position: absolute;
      }
      .svg3{
        margin-top: 355px;
        position: absolute;
        margin-left: 30px;
      }
      .data3{
        color: #999999;
        margin-left: 730px;
        margin-top: 2px;
        position: absolute;
      }
      .svg4{
        margin-top: 355px;
        position: absolute;
        margin-left: 380px; 
      }
      .data4{
        color: #999999;
        margin-left: 1080px;
        margin-top: 2px;
        position: absolute;
      }
      .lekarstvo1{
        margin-left: 30px;
        margin-top: 30px;
        font-weight: 400;
      }
      .lekarstvo2{
        margin-left: 360px;
        margin-top: -35px;
        font-weight: 400;
        
      }
      .lekarstvo3{
        margin-left: 710px;
        margin-top: -35px;
        font-weight: 400; 
      }
      .lekarstvo4{
        margin-left: 1060px;
        margin-top: -35px;
        font-weight: 400;
      }
      .new{
        margin-top: 50px;
        margin-left: 200px;
      }
      .tg{
        margin-left: 350px;
        margin-top: -40px;
        position: absolute;
      }
      .ttext{
        font-size: 8pt;
        margin-left: 390px;
        margin-top: -40px;
        color: #999999;
      }
      .novosti{
        margin-left: 1100px;
        margin-top: -40px;
        text-decoration: none;
        color: #999999;
      }
      .new1{
        margin-top: 40px;
        margin-left: 180px;
      }
      .new2{
        margin-left: 30px;
      }
      .new3{
        margin-left: 30px;
      }
      .new4{
        margin-left: 30px;
      }
      .data5{
        margin-left: 180px;
        color: #999999;
      }
      .data6{
        margin-left: 460px;
        color: #999999;
        margin-top: -35px;
      }
      .data7{
        margin-left: 740px;
        margin-top: -35px;
        color: #999999;
      }
      .data8{
        margin-left: 1020px;
        margin-top: -35px;
        color: #999999;
      }
      .nazvanie{
        margin-left: 180px;
        width: 200px;
        font-weight: 400;
      }
      .nazvanie2{
        margin-left: 460px;
        font-weight: 400;
        margin-top: -60px;
      }
      .nazvanie3{
        margin-left: 740px;
        font-weight: 400;
        margin-top: -35px;
      }
      .nazvanie4{
        margin-left: 1020px;
        margin-top: -35px;
        font-weight: 400;
        width: 250px;
      }
      .block12{
        height: 450px;
      }
      .block13{
        background: #333333;
        height: 400px;
        width: 100%;
      }
      .n1{
        font-size: 12pt;
        color: #fff;
        margin-left: 200px;
        margin-top: 60px;
        position: absolute;
      }
      .n2{
        font-size: 12pt;
        color: #fff;
        margin-left: 400px;
        margin-top: 60px;
        position: absolute;

      }
      .n3{
        font-size: 12pt;
        color: #fff;
        margin-left: 630px;
        margin-top: 60px;
        position: absolute;
        
      }
      .n4{
        font-size: 12pt;
        color: #fff;
        margin-left: 900px;
        margin-top: 60px;
        position: absolute;
      }
      .n5{
        font-size: 12pt;
        color: #fff;
        margin-left: 200px;
        margin-top: 120px;
        position: absolute;
      }
      .n6{
        color: #777777;
        margin-left: 400px;
        margin-top: 120px;
        position: absolute;
        font-weight: 300;
      }
      .n7{
        color: #777777;
        margin-left: 630px;
        margin-top: 120px;
        position: absolute;
        font-weight: 300;
      }
      .n8{
        color: #777777;
        margin-left: 900px;
        margin-top: 120px;
        position: absolute;
        font-weight: 300;
      }
      .n9{
        color: #777777;
        margin-left: 400px;
        margin-top: 160px;
        position: absolute;
        font-weight: 300;
      }
      .n10{
        color: #777777;
        margin-left: 630px;
        margin-top: 160px;
        position: absolute;
        font-weight: 300;
      }
      .n11{
        color: #777777;
        margin-left: 900px;
        margin-top: 160px;
        position: absolute;
        font-weight: 300;
      }
      .n12{
        color: #777777;
        margin-left: 400px;
        margin-top: 200px;
        position: absolute;
        font-weight: 300;
      }
      .n13{
        color: #777777;
        margin-left: 400px;
        margin-top: 240px;
        position: absolute;
        font-weight: 300;
      }
      .n14{
        color: #777777;
        margin-left: 400px;
        margin-top: 280px;
        position: absolute;
        font-weight: 300;
      }
      .n15{
        font-size: 12pt;
        color: #fff;
        margin-left: 1150px;
        margin-top: 180px;
        position: absolute;
        font-weight: 300;
      }
      .n16{
        color: #777777;
        margin-left: 180px;
        margin-top: 360px;
        position: absolute;
        font-weight: 300;
      }
      .n17{
        font-size: 12pt;
        color: #777777;
        margin-left: 1150px;
        margin-top: 210px;
        position: absolute;
        font-weight: 300;
        font-size: 9pt;
      }
      .n18{
        font-size: 12pt;
        color: #fff;
        margin-left: 1150px;
        margin-top: 250px;
        position: absolute;
        font-weight: 300;
      }
      .knopka4{
        background: #494949;
        display: inline-block;
        color: white;
        font-weight: 100;
        text-decoration: none;
        user-select: none;
        padding: .5em 2em;
        outline: none;
        border: 0px solid;
        border-radius: 2px;
        transition: 0.2s;
        height: 50px;
        font-size: 10pt;
        margin-left: 1100px;
        margin-top: 70px;
      }
      .knopka3:hover { background: #ef5459; }
      .knopka3:active { background: #E31E24 }
    